---
AccessModifierOffset: -8
AlignAfterOpenBracket: 'Align'
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'true'
AlignConsecutiveMacros: 'true'
AlignOperands: 'true'
AlignTrailingComments: 'true'
AllowAllArgumentsOnNextLine: 'false'
AllowAllParametersOfDeclarationOnNextLine: 'false'
AllowShortBlocksOnASingleLine: 'Empty'
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: 'Inline'
AllowShortIfStatementsOnASingleLine: 'false'
AllowShortLambdasOnASingleLine: 'All'
AlwaysBreakAfterReturnType: 'TopLevelDefinitions'
BraceWrapping:
# BeforeLambdaBody: 'false'
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakBeforeBraces: 'WebKit'
ColumnLimit: '0'
Cpp11BracedListStyle: 'true'
DerivePointerAlignment: 'false'
IndentCaseLabels: 'false'
IndentGotoLabels: 'false'
IndentWidth: '8'
IndentAccessModifiers: 'false'
KeepEmptyLinesAtTheStartOfBlocks: 'false'
Language: 'Cpp'
MaxEmptyLinesToKeep: '1'
PenaltyBreakAssignment: '3'
PenaltyBreakBeforeFirstCallParameter: '15'
PointerAlignment: 'Left'
SortIncludes: 'false'
SpaceAfterCStyleCast: 'false'
SpaceBeforeAssignmentOperators : 'true'
SpaceBeforeParens: 'ControlStatements'
SpaceInEmptyParentheses: 'false'
SpacesInSquareBrackets: 'false'
TabWidth: '8'
UseTab: 'AlignWithSpaces'

# Local Variables:
# mode: yaml
# End:
