---
AlignAfterOpenBracket: 'Align'
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'true'
AlignConsecutiveMacros: 'true'
AlignOperands: 'true'
AlignTrailingComments: 'true'
AllowAllArgumentsOnNextLine: 'false'
AllowAllParametersOfDeclarationOnNextLine: 'false'
AllowShortBlocksOnASingleLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: 'Inline'
AllowShortIfStatementsOnASingleLine: 'false'
AlwaysBreakAfterReturnType: 'TopLevelDefinitions'
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakBeforeBraces: 'WebKit'
ColumnLimit: '100'
DerivePointerAlignment: 'false'
IndentCaseLabels: 'false'
IndentWidth: '8'
KeepEmptyLinesAtTheStartOfBlocks: 'false'
Language: 'Cpp'
MaxEmptyLinesToKeep: '1'
PenaltyBreakAssignment: '3'
PenaltyBreakBeforeFirstCallParameter: '15'
PointerAlignment: 'Left'
SortIncludes: 'false'
SpaceAfterCStyleCast: 'false'
SpaceBeforeAssignmentOperators : 'true'
SpaceBeforeParens: 'ControlStatements'
SpaceInEmptyParentheses: 'false'
SpacesInSquareBrackets: 'false'
TabWidth: '8'
UseTab: 'AlignWithSpaces'

# Local Variables:
# mode: yaml
# End:
