www/mu
mug
mu
mug2
.desktop
*html
.deps
.libs
autom4te*
Makefile
Makefile.in
INSTALL
aclocal.m4
config.*
configure
install-sh
depcomp
libtool
ltmain.sh
m4/*
missing
nohup.out
vgdump
stamp-h1
GPATH
GRTAGS
GSYMS
GTAGS
*.lo
*.o
*.la
*.x
*.go
*.gz
*.bz2
\#*
*.aux
*.cp
*.fn
*.info
*.ky
*.log
*.pg
*.toc
*.tp
*.vr
*.elc
elisp-comp
elc-stamp
dummy.cc
msg2pdf
/contrib/gmime-test
/emacs/TODO
test-mu-cmd
test-mu-cmd-cfind
test-mu-contacts
test-mu-container
test-mu-date
test-mu-flags
test-mu-maildir
test-mu-msg
test-mu-msg-fields
test-mu-query
test-mu-runtime
test-mu-store
test-mu-str
test-mu-threads
test-mu-util
mu4e-meta.el
mu4e.pdf
texinfo.tex
texi.texi
*.tex
*.pdf
/www/auto/*
configure.lineno
/test.xml
/mu4e/mdate-sh
/mu4e/mu4e-about.el
/mu4e/stamp-vti
/mu4e/version.texi
/guile/tests/test-mu-guile
/lib/doxyfile
/version.texi
/compile
