/* stylesheet for mu website */

body {
        background:#ffffff;
        margin: 50px;
        padding: 10px;
	font-family: arial, Helvetica, 'Bitstream Vera Sans', 'Luxi Sans', Verdana,
                     Sans-Serif;
	font-size: 12px;
}

.content {
   margin:30px;
   background: #5fb6de;
}


a.menu         {font-weight: bold}
a.menu:link    {color: #ffffff; text-decoration: none;  }
a.menu:active  {color: #ff0000; text-decoration: none; }
a.menu:visited {color: #ffffff; text-decoration: none; }
a.menu:hover   {color: #ff0000; text-decoration: underline; }

.mine          {color: #ffffff; font-weight: bold}




/* emacs-code -----------------------*/

/* zenburnesque code blocks in for html-exported org mode */


pre.src {
   background: #dddddd;
   color: #555555;
}

.org-preprocessor {
   color: #8cd0d3;
}

.org-variable-name {
   color: #0084C8;
   font-weight: bold;
}

.org-string {
   color: #4E9A06;
}

.org-type {
   color: #2F8B58;
   font-weight: bold;
}

.org-function-name {
   color: #00578E;
   font-weight: bold
}

.org-keyword {
   color: #A52A2A;
   font-weight: bold;
}

.org-comment {
   color: #204A87;
}

.org-doc {
   color: #afd8af;
}

.org-comment-delimiter {
   color: #708070;
}

.org-constant {
   color: #F5666D;
}

.org-builtin {
   color: #A020F0;
}


.warning,  .org-warning {
       color: yellow;
       font-weight: bold
}


/* emacs other stuff --------------------- */
      .org-date, .org-org-date {
        /* org-date */
        color: #00ffff;
        text-decoration: underline;
      }
      .org-hide, .org-org-hide {
        /* org-hide */
        color: #000000;
      }
      .org-level-1, .org-org-level-1  {
        /* org-level-1 */
        color: #356da0;
      }
      .org-level-2,.org-org-level-2 {
        /* org-level-2 */
        color: #7685de;
      }
      .org-todo,.org-org-todo {
        /* org-todo */
        color: #ffc0cb;
        font-weight: bold;
      }
